.next
node_modules

# environment variable
.env

# builds
/desktop/build
/mobile/build
/chrome/build
/chrome/build.zip

# symlinks for common lib
@common/

# service worker generation
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js
**/public/*.map
