/**
 * critical styles
 */

html {
  --flow-space: #{get-size('500')};
}

body {
  color: get-color('dark');
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: get-size('500');
  line-height: 1.5;
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('primary');
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  @include apply-utility('leading', 'flat');
  @include apply-utility('weight', 'bold');
}

// high contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  background: get-color('dark');
  color: get-color('white');
}

/**
 * scrollbar styling
 */

// firefox
* {
  scrollbar-color: get-color('primary') get-color('white');
}

// webkit
::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: get-color('white');
}

::-webkit-scrollbar-thumb {
  background-color: get-color('primary');
  border: .25rem solid get-color('white');
  border-radius: .125rem;
}
