@import '@common/styles/config';

.header {
  background: get-colour('white');
}

.nav {
  box-shadow: 1px 1px 20px 0 rgba(get-colour('black'), .5);
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  text-align: center;
}

.link, .button {
  align-items: center;
  color: get-colour('black');
  display: flex;
  flex: 1 0 0;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  padding: .5rem 1rem;
  position: relative;
}

.link {
  position: relative;
  text-decoration: none;

  &::before {
    $size: 1.75rem;

    background: rgba(get-colour('primary'), .25);
    border-radius: 50%;
    content: '';
    height: $size;
    left: calc(50% - #{$size / 2});
    opacity: 0;
    position: absolute;
    top: calc(50% - #{$size / 2});
    transition: all .1s;
    width: $size;
  }

  &--active::before {
    opacity: 1;
  }

  > * {
    position: relative;
  }
}

.button {
  appearance: none;
  background: none;
  border: 0;
}
