.qr {
  margin: auto 0;
  position: relative;
  width: 100%;

  &__back {
    left: .5rem;
    position: absolute;
    top: .5rem;
    z-index: 1;
  }

  &__el {
    margin: auto 0;
    width: 100%;
  }
}
