@import '@common/styles/config';

$padding-x: 1rem;

.wrap {
  padding: 0 $padding-x;
}

.code {
  --size: min(calc(var(--sidebar-width) - #{$padding-x * 2}), 30vh);

  height: var(--size);
  margin: 0 auto;
  width: var(--size);

  canvas {
    display: block;
    height: 100% !important;
    width: 100% !important;
  }
}

.form {
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.input {
  width: 100%;
}

.button {
  appearance: none;
  margin: .1rem .2rem;
}

.buttonActive {
  background: get-colour('primary-shade');
}
