.header {
  background: #fff;
}

.nav {
  box-shadow: 1px 1px 20px 0 rgba(#000, .5);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.link {
  color: #000;
  flex: 1 0 0;
  font-size: 1.5rem;
  font-weight: 900;
  min-width: min-content;
  overflow: hidden;
  padding: .5rem 1rem;
  position: relative;
  text-decoration: none;

  &::before {
    background: #000;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transform: translateY(100%);
    transition: all .1s;
    width: 100%;
  }

  &--active::before {
    transform: translateY(0);
  }
}
